$yellow: #d6d211;

@mixin margenes ($stop, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron {
    background-color:$yellow;
    color: black;
    @include margenes(50px,0 px );
}



footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    margin-bottom: 0px;
    @include margenes(10px,0 px );
}

.card-hotel{

    flex: 1 200px;
    padding: 2px 0px 0px 0px;
    @include margenes(10px,0 px );
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;

}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}
